{% extends 'base.html'%}
{% block head %}
<title>Hong Kong COVID19 Information</title>
<script type="text/javascript">
$( document ).ready(function() {



       


});
var loadedSymptomatic = false;
function loadSymptomatic(){
    if(!loadedSymptomatic){
        $.ajax({
            url:"{{ backend_url}}" + "getSymptomaticResult",
            type:"post",
            dataType: 'json',
            processData:false,
            contentType:false,
            success:function(resultData){
                var ctxP = document.getElementById("pieChart").getContext('2d');
                var myPieChart = new Chart(ctxP, {
                type: 'pie',
                data: {
                labels: ["Asymptomatic Case", "Symptomatic Case"],
                datasets: [{
                data: [resultData['asymptomatic_case'], resultData['symptomatic_case']],
                backgroundColor: ["#F7464A", "#46BFBD"],
                hoverBackgroundColor: ["#FF5A5E", "#5AD3D1"]
                }]
                },
                options: {
                responsive: true
                }
                });
                loadedSymptomatic = true;
            },
            error:function(e){
                alert(JSON.stringify(e));
                alert("error");
            }
        });
    }
}

var loadedCaseByAge = false;
function loadCaseByAge(){
    if(!loadedCaseByAge){
        $.ajax({
            url:"{{ backend_url}}" + "getCaseGroupByAge",
            type:"post",
            dataType: 'json',
            processData:false,
            contentType:false,
            success:function(resultData){
                lables = resultData.label;
                datas = resultData.data;
                var ctx = document.getElementById("barChart").getContext('2d');
                var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                labels: lables,
                datasets: [{
                label: 'Case by Age',
                data: datas,
                backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
                }]
                },
                options: {
                scales: {
                yAxes: [{
                ticks: {
                beginAtZero: true
                }
                }]
                }
                }
                });
                loadedCaseByAge = true;
            },
            error:function(e){
                    alert("error");
            }
        }); 
    }
}
</script>
{% endblock%}

{% block body %}
<div class="content">
    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#asymptomatic" onclick="loadSymptomatic();">Symptomatic and Asymptomatic Cases Ratio</button>
    <div id="asymptomatic" class="collapse" style="width:50%">
        <canvas id="pieChart"></canvas>
    </div>     
    <br>
    <br>
    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#age" onclick="loadCaseByAge();">Cases group by Age</button>
    <div id="age" class="collapse">
        <canvas id="barChart" style="max-width: 500px;"></canvas>        
    </div>      
</div>
{% endblock%}