{% extends 'base.html'%}
{% block head %} 
<title>Hong Kong COVID19 Information</title>
<script type="text/javascript">
    var curPage = 1;
    var recordPerPage = 100;
    var noOfPage = 0;
    function goToPre(){
        curPage -=1;
        getCaseDetail(curPage,recordPerPage);
        loadPaging();
    }

    function goToNext(){
        curPage +=1;
        getCaseDetail(curPage,recordPerPage);
        loadPaging();
    }

    function goToPage(page){
        curPage = page;
        getCaseDetail(curPage,recordPerPage);
        loadPaging();
    }

    function getCaseDetail(pageNo,rPerPage){
        $("#info").empty();
        $.ajax({
            url:"{{ backend_url}}" + "getCasesByPage",
            type:"post",
            data: {page: pageNo, record_per_page: rPerPage},
            success:function(resultData){
                $.each(resultData, function(i, item) {
                    jQuery('<div/>', {
                                id: 'caseCard'+i,
                                "class": 'caseCard'
                            }).appendTo('#info');
                    jQuery('<h3/>', {
                    }).html(item.case_no).appendTo('#caseCard'+i);
                    jQuery('<p/>', {
                    }).html("Report Date : " + item.report_date).appendTo('#caseCard'+i);       
                    jQuery('<p/>', {
                    }).html("Gender : " + item.gender ).appendTo('#caseCard'+i);             
                    jQuery('<p/>', {
                    }).html("Age : " + item.age).appendTo('#caseCard'+i);        
                    jQuery('<p/>', {
                    }).html("Admitted Hospital : " + item.admitted_hospital).appendTo('#caseCard'+i);                       
                    jQuery('<p/>', {
                    }).html("Hospital Status : " + item.hospital_status).appendTo('#caseCard'+i);                      
                    jQuery('<p/>', {
                    }).html("Status : " + item.status).appendTo('#caseCard'+i);  

                                                                                           
                });
            },
            error:function(e){
                alert(JSON.stringify(e));
                alert("error");
            }        
         }); 
    }


    function loadPaging(){
        $("#pagination" ).empty();
        if(curPage > 1){
            jQuery('<li/>', {
                    id: 'preBtn',
                    class: 'page-item'
                    }).appendTo('#pagination'); 
            jQuery('<a/>', {
                    id: 'preBtnA',
                    class: 'page-link'
                    }).html("Previous").appendTo('#preBtn');              
            $( "#preBtnA" ).click(function() {
                goToPre();
            });       
        }
        for(var i = 1; i <= noOfPage;i++){
            if(i >= curPage - 3 && i <=curPage +3){
                jQuery('<li/>', {
                        id: 'p'+i,
                        class: 'page-item'
                        }).appendTo('#pagination');    
                        jQuery('<a/>', {
                        id: 'pA'+i,
                        class: 'page-link'
                        }).html(i).appendTo('#p'+i);   
                $("#pA"+i).attr("onclick","goToPage("+i+")");
            }                                                  
        }
        if(curPage < noOfPage){
            jQuery('<li/>', {
                    id: 'nextBtn',
                    class: 'page-item'
                    }).appendTo('#pagination'); 
            jQuery('<a/>', {
                    id: 'nextBtnA',
                    class: 'page-link'
                    }).html("Next").appendTo('#nextBtn');        
            $( "#nextBtnA" ).click(function() {
                goToNext();
            });                                  
        }
    }

    $( document ).ready(function() {
        $.ajax({
            url:"{{ backend_url}}" + "getNoOfPage",
            type:"post",
            data: {record_per_page: "100"},
            async: false,
            success:function(resultData){
                noOfPage = resultData.no_of_page;
                loadPaging();
            },
            error:function(e){
                alert(JSON.stringify(e));
                alert("error");
            }        
         }); 

         getCaseDetail(curPage,recordPerPage);
    });
</script>
{% endblock%}


{% block body %}
<div class="content"> 
    <div class="container"><h3>Case Detail</h3></div>
    <div class="container-fluid">  
        <ul id="pagination" class="pagination">  

        </ul>  
    </div> 
    <div id="info" class="case-overview">
    </div>
</div>  
</script>
{% endblock%}