{% extends 'base.html'%}
{% block head %}
<title>Hong Kong COVID19 Information</title>
<script type="text/javascript">
$( document ).ready(function() {
    $.ajax({
            url:"{{ backend_url}}" + "getLatestSummary",
            type:"post",
            dataType: 'json',
            processData:false,
            contentType:false,
            success:function(resultData){
                $("#asOfDate").html(resultData.as_of_date);
                $("#confirmedCases").html(resultData.no_of_confirmed_cases);
                $("#dischargeCases").html(resultData.no_of_discharge_cases);
                $("#criticalCases").html(resultData.no_of_hospitalised_cases_in_critical_condition);
                $("#probaleCases").html(resultData.no_of_probable_cases);
                $("#deathCases").html(resultData.no_of_death_cases);
                $("#todayConfirmedCases").html(resultData.no_of_confirmed_cases_today);
                
                var diffWithYesterday = resultData.no_of_confirmed_cases_today - resultData.no_of_confirmed_cases_b1                      
                if(diffWithYesterday >= 0){
                    $("#casesDiff").html("+"+diffWithYesterday);    
                    $("#casesDiff").addClass("increaseStat");      
                }
                else {
                    $("#casesDiff").html(diffWithYesterday);    
                    $("#casesDiff").addClass("decreaseStat");          
                }
                var points = "";
                for(i = 0 ; i <= 14;i++){
                    if(i > 0)
                        points +=" ";
                    
                    if(i ==0)
                        points += "00, "+resultData['no_of_confirmed_cases_b'+(14-i)];
                    else if(i < 14)
                        points += (i*10)+", "+resultData['no_of_confirmed_cases_b'+(14-i)];
                    else
                        points += (i*10)+", "+resultData['no_of_confirmed_cases_today'];
                }
                //$("#daysCaseChart").attr("points",points);
            },
            error:function(e){
                alert(JSON.stringify(e));
                alert("error");
            }
    });    





});
</script>
{% endblock%}


{% block body %}
<div class="content">   
    <div class="main-overview">
        <div class="overviewcard">
            <div class="overviewcard__icon"><span id="asOfDate"></span><br> Confirmed Case</div>
            <div class="overviewcard__info">
                <div id="todayConfirmedCases"></div>
                <div id="casesDiff"></div>
                <div>                  
                </div>
            </div>
        </div>        
        <div class="overviewcard">
            <div class="overviewcard__icon">Total No. of Confirmed Case</div>
            <div class="overviewcard__info" id="confirmedCases"></div>
        </div>
        <div class="overviewcard">
            <div class="overviewcard__icon">No. of Probale Case</div>
            <div class="overviewcard__info" id="probaleCases"></div>
        </div>         
        <div class="overviewcard">
            <div class="overviewcard__icon">No. of Discharge Case</div>
            <div class="overviewcard__info" id="dischargeCases"></div>
        </div>  
        <div class="overviewcard">
            <div class="overviewcard__icon">No. of Hospitalised Cases in critical condition Case</div>
            <div class="overviewcard__info" id="criticalCases"></div>
        </div>                
        <div class="overviewcard">
            <div class="overviewcard__icon">No. of Dealth Case</div>
            <div class="overviewcard__info" id="deathCases"></div>
        </div>        
    </div>
</div>
{% endblock%}